
@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700,900&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-color: black;
}

h1, h2 {
    text-align: center;
    margin-bottom: 0.5cm;
    font-weight: bold;
}

h3 {
    text-align: left;
    margin-bottom: 0.5cm;
    font-weight: bold;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
    color: white;
}

h6 {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: left;
}

b {
    font-size: 20px;
    padding-right: 1cm;
}

/* css for menu */

.bg-black {
    background-color: #000000;
}

.nav-link.active, .nav-link:hover{
    color: #ffffff !important;
}

.navbar-brand {
    height: 100px;
    width: 220px;
}

.intro {
    padding-top: 3cm;
    color: white;
    text-align: center;
}

.groupcontainer-black-intro{
    background-color: black;
    color: white;
    margin-top: 0.5cm;
    margin-bottom: 0.25cm;
    padding-bottom: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
}


/* css for menu */

.media {
    margin-top: 0.5cm;
}

.groupcontainer-white {
    background-color: white;
    color: black;
    padding-bottom: 1cm;
    padding-top: 1cm;
}

.groupcontainer-black-video{
    background-color: black;
    color: white;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}

.groupcontainer-black{
    background-color: black;
    color: white;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}

.groupcontainer-white-hands {
    background-color: white;
    color: black;
    padding-bottom: 1cm;
    padding-top: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
}

#logo-spacing {
    padding-bottom: 1cm;
}

.groupcontainer-black-footer{
    background-color: black;
    color: white;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
    height: 350px;
}

.groupcontainer-black-footer h3{
    text-align: center;
}

.find-us {
    padding-bottom: 230px;
}

.social-media i {
    color: #fdfdfd;
    padding-right: 0.5cm;
    font-size: 1.2cm;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-media i:hover {
    color: #707070;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 1.5cm;
}

.social-media-icons  {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    }

.find-us iframe {
    padding-right: 20px;
}

.company-info p {
    text-align: center;
}

.company-info {
    padding-bottom: 2cm;
}

.copyright p {
    text-align: center;
}

.case-study p {
    padding-left: 0.75cm;
    padding-right: 0.75cm;
}

.case-study img {
    padding-top: 15px;
    padding-bottom: 25px;
    height: 100%;
    width: 100%;
}

.case-study-black-one {
    background-color: black;
    color: white;
    padding-top: 150px;
}


.case-study-white {
    background-color:white;
    color:black;
    padding-top: 50px;
    padding-bottom: 50px;
    
}


.case-study-black{
    background-color: black;
    color: white;
    padding-top: 50px;
}

.contractdetails {
    padding-bottom: 0.5cm;
}

.news-section-black-one {
    background-color: black;
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;
}

.news-section-white-one {
    background-color: white;
    color: black;
    padding-top: 150px;
    padding-bottom: 50px;
}



.news-section-white {
    background-color:white;
    color:black;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.news-section-black {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.contact-us-header {
    background-color: black;
    color: white;
    padding-top: 150px;
}

.contact-us-header p {
    text-align: center;
}

.contactpage label {
    color: white;
}

.contactpage {
    padding-bottom: 50px;
}

.contact-page {
    margin-bottom: 15px;
    width: 85%;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-primary {
    background-color: white;
    color: black;
    width: 25%;
    float: right;
    border: none;
    
}

.btn-primary:hover {
    background-color: #707070;
}

.groupcontainer-black-footer iframe {
    width: 100%;
    height: 180%;
    border: 0;
}

.social-media h3 {
    text-align: center;
}



@media (min-width: 320px) and (max-width: 480px) {
  
    .navbar-brand {
        height: 75px;
        width: 130px;
    }

   h4 {
       font-size: 18px;
   }

   .contactpage {
       padding-left: 1cm;
       padding-right: 1cm;
   }

   .contact-us-header {
    padding-left: 1cm;
    padding-right: 1cm;
    
}


}

