@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700,900&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-color: black;
}

p,h5,h2,h1 {
    text-align: center;
}


/* css for menu */

.bg-black {
    background-color: #050505;
}

.nav-link.active, .nav-link:hover{
    color: #fdfdfd !important;
}

.navbar-brand {
    height: 110px;
    width: 220px;
}

.groupcontainer-white {
    margin-top: 30px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.groupcontainer-black {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    font-weight: bold;
    

}
.group-info-resize-image {
    height: 85%;
    width: 100%;
}

.what-we-do-resize-image {
    height: 40%;
    width: 95%;
}