@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700,900&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    margin-bottom: 0.5cm;
    font-weight: bold;
}

h2 {
    text-align: left;
    margin-bottom: 0.5cm;
    font-weight: bold;
}

p {
    text-align: left;
}


/* css for menu */

.bg-black {
    background-color: #050505;
}

.nav-link.active, .nav-link:hover{
    color: #fdfdfd !important;
}

.navbar-brand {
    height: 110px;
    width: 220px;
}

/* css for menu */

.groupcontainer-white {
    background-color: white;
    color: black;
    margin-bottom: 15px;
}

.groupcontainer-black{
    background-color: black;
    color: white;
    margin-top: 15px;
}


.what-we-do {
    margin-bottom: 0.5cm;
}

