@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700,900&display=swap');

body {
    font-family: 'Muli', sans-serif;
    background-color: black;
}

h1, h2 {
    text-align: center;
    margin-bottom: 0.5cm;
    font-weight: bold;
}

h3 {
    text-align: left;
    margin-bottom: 0.5cm;
    font-weight: bold;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

h5 {
    text-align: center;
    color: white;
}

p {
    text-align: left;
}


/* css for menu */

.bg-black {
    background-color: #050505;
}

.nav-link.active, .nav-link:hover{
    color: #fdfdfd !important;
}

.navbar-brand {
    height: 110px;
    width: 220px;
}

.intro {
    padding-top: 3cm;
    color: white;
    text-align: center;
}

.groupcontainer-black-intro{
    background-color: black;
    color: white;
    margin-top: 0.5cm;
    margin-bottom: 0.25cm;
}


/* css for menu */

.media {
    margin-top: 1cm;
}

.groupcontainer-white {
    background-color: white;
    color: black;
    padding-bottom: 1cm;
    padding-top: 1cm;
}

.groupcontainer-black-video{
    background-color: black;
    color: white;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}

.groupcontainer-black{
    background-color: black;
    color: white;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}


.groupcontainer-white-hands {
    background-color: white;
    color: black;
    padding-bottom: 1cm;
    padding-top: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
}

#logo-spacing {
    padding-bottom: 1cm;
}

.follow-us i {
    font-size: 50px;
    color: white;
    padding-right: 1.5cm;
    padding-left: 1.5cm;
    padding-top: 1.5cm;
    overflow-wrap: unset;
}

.find-us iframe {
    padding-right: 0.25cm;
    padding-left: 0.25cm ;
    padding-top: 0.25cm;
    padding-bottom: 0.25cm;
}